# Ignore the local configuration for Visual Studio Code
.vscode/*
# Ignore the local configuration for Visual Studio
.vs/*
# Ignore a mac desktop file
.DS_Store
# Ignore virtual environemnt
.venv/*
# Ignore the ocnfiguration file. It is dowloaded but not updated
config.json
# Exclude workspace
CommandLineGPT.code-workspace